<header class="d-flex justify-content-between p-3 fs-5 bg-dark text-white position-sticky">
    <span class="h3">FakeStore.API</span>
    <nav>
        <span class="mx-2"><a>Home</a></span>
        <span class="mx-2"><a>Electronics</a></span>
        <span class="mx-2"><a>Jewelery</a></span>
        <span class="mx-2"><a>Women Fashion</a></span>
        <span class="mx-2"><a>Men Fashion</a></span>
    </nav>
    <div>
        <button class="bi bi-heart-fill"></button>
        <button class="bi bi-search mx-2"></button>
        <button class="bi bi-cart4 position-relative"></button>
        <span class="position-absolute top-0 bg-danger rounded rounded-circle incrNo">{{count}}</span>
    </div>
</header>
